<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SlideUnlock.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A0FC245F1D6C168200EC1B87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0FC24781D6C168200EC1B87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0FC24831D6C168300EC1B87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
